<h1>Medication Info </h1>


<strong>Medication Name:</strong>
<%= @medication.name %>
<br>
<strong>Company:</strong>
<%= @medication.company %>
<br>
<strong>Adverse Reactions:</strong>
<%= @medication.adverse_reactions %>
<br>
<strong>Generic Options Available:</strong>
<%= @medication.generic_option %>
<br>
<%= link_to "Edit Medication", edit_clinic_patient_medication_path(@clinic, @patient, @medication) %>
|
<%= link_to "Delete Medication", clinic_patient_medication_path(@clinic, @patient, @medication), method: :delete %>
<br>
<%= link_to "Return to Patient", clinic_patient_path(@clinic, @patient) %>
|
<%= link_to "Return to Main", root_path %>