<strong>Information for:</strong>
<br>
<strong>Patient:</strong> <%= @patient.last_name + ", " + @patient.first_name %>
<br>
<strong>Patient DOB:</strong>
<%= @patient.date_of_birth %>
<br>
<strong>Patient Illness Description:</strong>
<%= @patient.description %>
<br>
<strong>Patient Gender:</strong>
<%= @patient.gender %>
<br>
<strong>Patient Blood Type:</strong>
<%= @patient.blood_type %> 
<br>
<%= link_to "Edit Patient", edit_clinic_patient_path(@clinic, @patient) %>
|
<%= link_to "Delete Patient", clinic_patient_path(@clinic, @patient), method: :delete %>
<br>
<%= link_to "Return to Clinic", clinic_path(@clinic) %>
|
<%= link_to "Return to Main", root_path %>
<br>
<br>
<strong>Patient Medications:</strong>
<%= link_to "Add Medication", new_clinic_patient_medication_path(@clinic, @patient) %>
<br>
<ul>
  <% @patient.medications.each do |medication| %>
    <li>
      <strong>Medication Name:</strong>
      <%= link_to medication.name, clinic_patient_medication_path(@clinic, @patient, medication) %>
      <br>
      <strong>Company:</strong>
      <%= medication.company %>
      <br>
      <strong>Adverse Reactions:</strong>
      <%= medication.adverse_reactions %>
      <br>
      <strong>Generic Options Available:</strong>
      <%= medication.generic_option %>
      <br>
     <%= link_to "Edit Medication", edit_clinic_patient_medication_path(@clinic, @patient, medication) %>
     |
    <%= link_to "Delete Medication", clinic_patient_medication_path(@clinic, @patient, medication), method: :delete %>
    <br>
    <br>
    </li>
  <% end %>




























